<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ERDJsp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>user</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.sun.servlet.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/emp</url-pattern>
		<url-pattern>/dep</url-pattern>
		<url-pattern>/sc</url-pattern>
		<url-pattern>/pro</url-pattern>

	</filter-mapping>
</web-app>